.container {
    margin-left: auto;
    margin-right: auto;
    height: 1267px;
    width: 1178px;
    margin-top: 100px;
    border-style: solid;
    border-color: #e0dddc;
    border-width: 1px;
    border-radius: 12px;
    margin-bottom: 50px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.font {
    font-family: 'Tajawal', sans-serif;
    color: rgb(34,30,31);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
.margin-top {
    margin-top: 40px;
}
.font-size {
    font-size: 23.9px;
}
.right {
    direction: rtl;
}
.center {
    text-align: center;
}
.content {
    width: 802px;
    height: 1173px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.grey {
    color: black;
    background-color: grey;
    width: 100%;
    height: 30px;
}
.personal-info {
    
    width: 98.6%;
    height: 30px;
    background-color: #B7B7B7;
    padding: 5px;
    border: solid 1px black;
    padding-top: 5px;
}
.info {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 870;
}
.table {
    width: 100%;
}
table {
    margin-top: -17px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    
}
tr {
    width: 100%;
    border-bottom: solid 1px black;
    border-collapse: collapse;
}
td {
    padding-top:5px ;
    height: 38px;
}
.footer-img {
    margin-top: 80px;
}
.img-size {
    width: 100%;
    margin-top: 50px;
}
.footer-div {
    width: 100%;
    background-color: #E8ECF1;
    height: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}
.verified {
    margin-left: auto;
    margin-right: auto;
    width: 1178px;
    height: 535px;
    margin-top: 100px;
    background-size: cover;
    margin-bottom: 50px;
    text-align: center;
}

.download {
    display: inline-block;
    float: none;
    margin-top: 356px;
    background-color:#CC0000 ;
    color: #FFFEFE;
    text-decoration: none;
    border-radius: 5px;
    height: 36px;
    width: 135px;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 50;
}
.the-footer {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.download-btn {
    display: inline-block;
    background-color:#CC0000 ;
    color: #FFFEFE;
    text-decoration: none;
    border-radius: 5px;
    height: 36px;
    width: 135px;
    padding-top: 15px;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 50;

}
.page-number {
    display: inline-block;
    margin-top: 10px;
    color: #3D4461;   
}
.page-number:hover {
    cursor: pointer;
}

.bottom {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.finto-logo {
    width: 143px;
    height: 26px;
    margin: auto;
}
@media (min-width: 601px)
{
    .verified {
        background-image: url("images/verified.png");
    }

    .download {
        opacity: 0;
    }
}
@media (max-width: 600px) {
    .download {
        opacity: 1;
    }
    body {
        background-color: black;
    }
    .verified {
        background-color: white;
    }
}
